@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 1 26 65;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 245, 245, 245;
    --background-end-rgb: 245, 245, 245;
  }
}

body {
  color: #0B2C5E;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-bg-hero {
  background-image: url('/tr-dark-bg.svg');
  background-size: cover; 
   background-position: center; 
}

.custom-bg-home {
  background-image: url('/main-background.svg');
  background-size: cover; 
  background-position: center; 
}